<!DOCTYPE html>
<html>
	<head>
		<title>MCTutorials</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="box">
			<ul>
				<li><a href="/">Home</a></li>
				{{#if user}}
					<li><a href="/profile/{{user.username}}">My Profile</a></li>
					<li><a href="/users/logout">Logout</a></li>
				{{else}}
					<li><a href="/users/login">Login</a></li>
					<li><a href="/users/register">Register</a></li>
				{{/if}}
			</ul>
		</div>
		{{#if success_msg}}
			{{success_msg}}
		{{/if}}
		{{#if serror_msg}}
			{{error_msg}}
		{{/if}}
		{{#if error}}
			{{error}}
		{{/if}}
		{{{body}}}
	</body>
</html>